* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #05070a;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 0 3rem;
}

header {
    color: white;
    margin: 1rem 0;
}

.lists-section {
    color: white;
    display: grid;
    gap: 1rem;

}

.list-ul {
    display: grid;
    gap: 1rem;
}

.list-ul li {
    list-style: none;
    border: solid 1px;
    height: 3rem;
    border-radius: 5px;

}

.list-ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: .5rem 0;
}

h2 {
    font-size: 3rem;
}

form {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;

}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding: 0 1rem;
    align-self: center;
    width: fit-content;
    cursor: pointer;
}

.newList {
    text-decoration: none;
    background-color: #1573c0;
    border-radius: 5px;
    align-self: center;
    width: fit-content;
    padding: 1rem;
    color: white;
    font-size: 1.1rem;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    justify-self: center;
}