* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #05070a;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    padding: 1rem 3rem;

}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    justify-self: center;
}

header {
    color: white;
    
}

h1 {
    margin: 0 0 3rem 0;
}

.form-create-list {
    color: white;
    display: flex;
}

.tasks {
    color: white;
    display: grid;
    gap: 1rem;

}

.tasks>h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ddcf11;
}

#listName {
    color: #970f0fea;
    font-size: 1.5rem;
    width: 100%;
    background-color: #16274411;
    padding: .5rem 0;
    padding: 0 1rem;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 5px;
}

.create-list-btn {
    text-decoration: none;
    background-color: #1573c0;
    border-radius: 5px;
    align-self: center;
    padding: .5rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.back-btn {
    text-decoration: none;
    background-color: #737779;
    border-radius: 5px;
    align-self: center;
    padding: .5rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
}