.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 8rem;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.3rem;
  color: #ddd;
  max-width: 700px;
  line-height: 1.5;
}

.hero a {
  background-color: #1573c0;
  color: white;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: 500;
}

.hero a:hover {
  background-color: #1c8af0;
}
