* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #05070a;
    width: 100%;
    min-height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 70%;

    color: white;
    gap: 1.5rem;
    margin: 8rem auto;
    letter-spacing: 2px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.hero p:nth-of-type(2) {
    padding: 0 5rem;

}

.hero a {
    text-decoration: none;
    background-color: #1573c0;
    border-radius: 5px;
    align-self: center;
    width: 50%;
    padding: 1rem;
    color: white;
    font-size: 1.1rem;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    justify-self: center;
}