* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #05070a;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding: 0 3rem;
}
h1{
    margin: 0 0 3rem 0;
}

header {
    color: white;
    margin: 1rem 0;
}

.tasks-section {
    color: white;
    display: grid;
    gap: 2rem;

}
.tasks-section>h2{
    font-size: 2rem;
    text-transform: uppercase;
    color: #ddcf11;
}

.tasks-ul {
    display: grid;
    gap: 1rem;
}

.tasks-ul li {
    list-style: none;
    border: 1px solid;
    height: 3rem;
    border-radius: 5px;

}

.tasks-ul li .task-check {
    color: white;
    text-decoration: none;
    background-color: #4a6d16;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.tasks-ul li form {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100%;
    align-items: center;
}

#taskTitle {
    color: #970f0fea;
    font-size: 1.5rem;
    width: 100%;
    background-color: #16274411;
    padding: .5rem 0;
    padding: 0 1rem;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 5px;
}

.form-newTask {
    display: flex;
}

.add-task-btn{
    text-decoration: none;
    background-color: #1573c0;
    border-radius: 5px;
    align-self: center;
    padding: .5rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 0px 10px 10px 0px;
}

.verde {
    background-color: #45da20;
}

.back-btn{
      text-decoration: none;
    background-color: #737779;
    border-radius: 5px;
    align-self: center;
    padding: .5rem;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    width: fit-content;
}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    justify-self: center;
}