<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>AEY</title>
</head>

<body>
    <section class="hero">
        <h1>BEM VINDO À AEY</h1>
        <p>Organize suas tarefas de forma eficiente e aumente sua produtividade</p>
        <p>A AEY oferece uma maneira simples e intuitiva de gerenciar suas atividades diárias, seja no trabalho, nos
            estudos
            ou na vida pessoal. Crie listas personalizadas, adicione tarefas com facilidade, acompanhe o progresso e
            nunca
            mais esqueça uma tarefa importante</p>

        <a href="/allTasks">Comece a Gerenciar suas Tarefas</a>
    </section>
</body>

</html>